* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: #05446e;
}

.success-message h3 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.success-message button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;
  color: #05446e;
  border: 2px solid #05446e;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.success-message button:hover {
  background-color: #05446e;
  color: #ffffff;
  border-color: #ffffff;
}

.color {
  color: #05446e;
}

.museum-entrance {
  border-radius: 10px;
  text-align: center;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
}

mat-button-toggle-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

mat-button-toggle {
  font-size: 16px;
  background-color: #05446e;
  color: #ffffff;
  border: 2px solid #05446e;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

mat-button-toggle:hover {
  background-color: #ffffff;
  color: #05446e;
  border-color: #05446e;
}

.mat-button-toggle-checked {
  background-color: #ffffff;
  color: #05446e;
  border-color: #05446e;
}


