<div dir="rtl" *ngIf="!nextPressed" class="color">
  <app-heder></app-heder>
  <div class="museum-entrance">
    <tittle>מספר מבקרים (לחץ בסיום Enter.) </tittle>
    <input type="number" [(ngModel)]="seats" matInput (keyup.enter)="enter()">

    <ng-container *ngIf="enterPressed">
      <div>
        <span>תאריך {{ currentDate | date: 'd/M/yy' : 'he' }}</span>
        <span> | כרטיסים שנותרו: {{ calculateTotalRemainingTickets() }}</span>
      </div>

      <br><br><mat-button-toggle-group (change)="onValChange($event.value)"> שעת התחלה  
        <mat-button-toggle value="morning">בוקר</mat-button-toggle>
        <mat-button-toggle value="afternoon">צהריים</mat-button-toggle>
        <mat-button-toggle value="evening">ערב</mat-button-toggle>
      </mat-button-toggle-group><br>
      <app-time-list [list]="timeList" [seats]="seats" (ticketSelected)="handleTicketSelected($event)"></app-time-list>

      <div>
        <mat-button-toggle>חזרה</mat-button-toggle>
        <mat-button-toggle (change)="next()">המשך</mat-button-toggle>
      </div>
    </ng-container>
  </div>
</div>


<div dir="rtl" *ngIf="nextPressed" class="success-message">
  <h3>ההזמנה ל {{seats}} אנשים לשעה {{ startTime }} נקלטה בהצלחה :)</h3>
  <button (click)="orderSuccess()">אישור</button>
</div>